.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: justify;
    padding: 5px 100px;
}
.Hello{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
}
.about h3{
    text-align: center;
    padding-top:10px;
    font-size: 30px;
    color: rgb(250, 41, 41);
}
